@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

body {
  height: 100vh;
  background: black;

  display: flex;
  align-items: center;
  justify-items: center;
}

h1 {
  font-size: 4rem;
  text-align: center;
  color: cornflowerblue;
  font-weight: 300;
  font-style: normal;

  width: 100vw;
}

a {
  font-size: 2rem;
  font-weight: 600;
  color: white;
}
